.MessageHolder{
  background-image: url(../images/headerBg.png);
  background-size: cover;
    height: 55vw;
    font-family: arial;
    font-weight: bold;
    font-style: italic;
    color: white;
    overflow: hidden;
    @media (min-width:1px) and (max-width:426px) {
        height: 100vw;
      }
    .TextHolder1{
        overflow: hidden;
        left: 10vw;
        top: 10vw;
        letter-spacing: 0.2vw;
        font-size: 7vw;
        @media (min-width:1px) and (max-width:426px) {
            font-size: 10vw;
            left: 0vw;
            text-align: center;
          }
        h1{
        
        }
    }
   
    .TextHolder2{
        overflow: hidden;
        left: 45vw;
        top: 17vw;
        letter-spacing: 0.2vw;
        font-size: 7vw;
        @media (min-width:1px) and (max-width:426px) {
            font-size: 10vw;
            left: 0vw;
            top: 36vw;
            text-align: center;
          }
        h2{
           
        }
    }
   
    .TextHolder3{
        overflow: hidden;
        top: 24vw;
        left: 10vw;
        letter-spacing: 0.2vw;
        font-size: 7vw;
        @media (min-width:1px) and (max-width:426px) {
            font-size: 10vw;
            top: 60vw;
            left: 0vw;
            text-align: center;
          }
        h3{
          
        }
    }
  
}